* @jrwbabylonlab @jeremy-babylonlabs @kirugan

# DevOps team owns CI/CD and container configuration
/.github/ @babylonlabs-io/devops
/.github/CODEOWNERS @babylonlabs-io/devops
**/Dockerfile @babylonlabs-io/devops