name: ci

on:
  pull_request:
    branches:
    - '**'

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@5151754256060bf160c411d0784f831f29882106 # v0.13.4
    with:
     go-version: 1.24.11
     go-lint-version: v2.4.0
     run-unit-tests: true
     run-integration-tests: true
     integration-tests-command: make test-all
     integration-tests-docker-auth: false
     run-lint: true
     run-build: true
     run-gosec: true
     gosec-args: "-no-fail ./..."
     
  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@5151754256060bf160c411d0784f831f29882106 # v0.13.4
    secrets: inherit
    permissions:
      security-events: write
      packages: read
    with:
      publish: false
      dockerfile: ./contrib/images/staking-api-service/Dockerfile
      docker_scan: true
