name: docker_publish

on:
  push:
    branches:
    - 'main'
    tags:
    - '*'
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@22ae8ed7a2ea5c80331758914c4e0ea732eea1ad # v0.15.0
    with:
     go-version: '1.24.11'
     go-lint-version: v2.4.0
     run-unit-tests: true
     run-integration-tests: false
     run-lint: false
     
  docker_pipeline:
    # needs: ["lint_test"]
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@22ae8ed7a2ea5c80331758914c4e0ea732eea1ad # v0.15.0
    secrets: inherit
    permissions:
      security-events: write
      packages: read
    with:
      publish: true
      dockerfile: ./contrib/images/staking-api-service/Dockerfile
      docker_scan: true
