name: docker_publish

on:
  push:
    branches:
    - 'main'
    tags:
    - '*'

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@v0.2.0
    with:
     run-unit-tests: true
     run-integration-tests: false
     run-lint: false
     
  docker_pipeline:
    needs: ["lint_test"]
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@v0.2.0
    secrets: inherit
    with:
      publish: true
      dockerfile: ./contrib/images/staking-api-service/Dockerfile